.servicecontainer{
			width: 98%;
			text-align: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			
			border: 2px solid black;
			padding: 1%;
			background-color:  #808080;
			
			box-shadow: 3px 3px 3px black;
			margin-right: 1%;
		}
		.headding{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			border:2px solid black;
			padding: 1%;
			background-color: #808080;
			box-shadow: 3px 3px 3px black;
		}
		.datadivision{
			width: 20%;
			margin: 1%;
			padding: 1%;
			border: 2px solid black;
			
			background-color: #C0C0C0
			
			
			
			
		}
		.datadivision img{
			width: 100%;
			background-color: black;
			
		}
		body{
			background-color: #404040;

		}
		.l{
			height: 60%;
			
		}
		.i11{
			margin-top: 2%;
			box-shadow: 3px 3px 3px black;
			width:100%; height:200px;

		}
		.i{
			height: 29%;
			width: 50%
		}
		.banner{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 2%;

		}
		.b{
			background-color: #606060;
			border: 0px;
			
			color:white;
		}
		.b:hover{

			background-color: black;
			color: #C0C0C0
		}
		.m{
			color: white;
			margin-top: -1%;
			margin-bottom: 1%
		}
		
		.sl{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			border: 2px solid black;
			padding: 1%;
			margin-top: 1% ;
			background-color: #808080;
			padding-right: 2%;
			box-shadow: 3px 3px 3px black;


		}
		.button{
			border: 0px;
			background-color: #606060;
			color: white;
			width: 100%;
			font-size: 140%;
			margin:1%;



		}
		.button:hover{
			background-color: black;
			color: #C0C0C0
		}
		.headdingtext{
			margin-top: 8%;font-size: 200%;
		}
		.datadivision h1{
			text-align: center;
		}
		.footer{
			background-color: rgb(32,32,32);color:rgb(153,153,255);text-align: center;padding: 1%;font-size: 123%;margin-top: 1%;;box-shadow: 3px 3px 3px black;
		}
		.fs{
				color: orange;
		}
		.hs{
			font-size: 45%;margin-left: 15%;
		}
		.mh{
			color: #C0C0C0
		}
		.ms{
			 margin-left: 5%
		}
		
		@media only screen and (min-width: 300px) and (max-width: 767px){

			.servicecontainer{
				flex-direction: column;
				


			}
			.headdingtext{
				text-align: center;
			}
			.datadivision{
				width: 96%;
				padding: 2%;
				margin-left: 0%
			}
			.datadivision img{
			}
			.sl{
				flex-direction: column;
			}
			
			
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px) {

			.servicecontainer{
				justify-content: space-around;
				flex-wrap: wrap;
			}

			.datadivision{
				
			    width: 42%;

			}
			
		}
			@media only screen and (min-width: 1024px) and (max-width: 1366px){
				.i{
			height: 20%;
			width: 50%
		}