.headding2{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			border:2px solid black;
			padding: 1%;
			background-color: #808080;
			box-shadow: 3px 3px 3px black;
		}
		.l2{
			height: 60%;
		}
		.sl2{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			border: 2px solid black;
			padding: 1%;
			margin-top: 1% ;
			background-color: #808080;
			
			padding-right: 2%;
			box-shadow: 3px 3px 3px black;
		}
		.button2{
			border: 0px;
			background-color: #606060;
			color: white;
			
			width: 100%;
			font-size: 140%;



		}
		.button2:hover{
			background-color: black;
			color: #C0C0C0
		}
		.m2{
			color: white;
			margin-top: -1%;
			margin-bottom: 1%
		}
		.headdingtext2{
			margin-top: 8%;font-size: 200%;
		}
		body{
			background-color: #404040;

		}
		.main2 video{

			width: 100%;


		}
		.main2{
			font-size: 130%;
			border:2px solid black;
			padding: 1%;
			background-color: #808080;
			box-shadow: 3px 3px 3px black;
			text-align: center;
		}
		.footer2{
			background-color: rgb(32,32,32);color:rgb(153,153,255);text-align: center;padding: 1%;font-size: 123%;margin-top: 1%;;box-shadow: 3px 3px 3px black;
		}
		.fs2{
				color: orange;
		}
		.hs2{
			font-size: 45%;margin-left: 15%;
		}
		.mh2{
			color: #C0C0C0
		}
		.ms2{
			 margin-left: 5%
		}
		.last-button2{
			border: 0px;
			background-color: #606060;
			color: white;
			
			
			font-size: 100%;



		}
		.last-button2:hover{
			background-color: black;
			color: #C0C0C0
		}
		@media only screen and (min-width: 300px) and (max-width: 767px){
.headding2{
	flex-direction: column;

	

}
.l2{
	width: 100%
}
.headding2 video{
	width: 100%
}
.headdingtext2{
	text-align: center;

}
.factory2{
	font-size: 100%
}
.sl2{
	display: flex;
	flex-direction: column;
}

.button2{
	margin: 1%;
	margin-left: .5%;
	margin-bottom: 1.5%
}



		}